{% extends "base.html" %} {% block title %}{% endblock %}
{%block content %} 
<div>
  <h3 class="p-3">Current Nature Rune price: {{nr_price}}gp</h3>
<div class=" px-3">
<table class="table table-striped border border-black">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Low Alch Price</th>
      <th scope="col">GE Price</th>
      <th scope="col">Profit margin</th>
      <th scope="col">Profit</th>
    </tr>
  </thead>
  {% for profit in profits%}
  <tbody>
    <tr>
      <td>{{profit.name}}</td>
      <td><img src="https://oldschool.runescape.wiki/images/{{profit.icon.replace(" ","_")}}"></td>
      <td>{{profit.lowalch}}gp</td>
      <td>{{profit.ge_val}}gp</td>
      <td>{{profit.profit_percent}}%</td>
      <td>{{profit.profit_per_use}}gp</td>
    </tr>
      </tbody>
  {%endfor%}
</table>
</div>
</div>
{% endblock %}
